<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNotes2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyNotes2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	
    <userSettings>
        <MyNotes2.Properties.Settings>
            <setting name="SearchPadding" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="NotesFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TaskFontFamily" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="OldestSearchDate" serializeAs="String">
                <value>2014-08-01</value>
            </setting>
            <setting name="myColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="NotesFontFamily" serializeAs="String">
                <value>Microsoft Sans Serif</value>
            </setting>
            <setting name="TaskFontSZ" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoSaveTime" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="taskOrdering" serializeAs="String">
                <value>7</value>
            </setting>
        </MyNotes2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MyNotes2.Properties.Settings>
            <setting name="DataBase" serializeAs="String">
                <value>myTime.mdb</value>
            </setting>
        </MyNotes2.Properties.Settings>
    </applicationSettings>
</configuration>